//公共头部高度
$headerHeight: 2.7rem;
//公共底部高度
$footerHeight: 3rem;
//默认颜色定义
$defaultBlue: #369;
$defaultLightBlue: #09C;
$defaultGray: #666;
$defaultLightGray: #ddd;
$defaultGreen: #42b983;
$defaultRed: #ed242c;
